{% extends 'layouts/main.twig' %}
{% set pageId = 'destinationPage' %}

{% block content %}
    <main>
        <article>
            <h1><span id="destinationCt">01</span> Pick Your Destination</h1>
            <img class="planet" src="/src/assets/destination/image-moon.png" alt="the moon" />
            <ul id="destinationList">
                <li class="selected">
                    <a href="#">Moon</a>
                </li><li>
                    <a href="#">Mars</a>
                </li><li>
                    <a href="#">Europa</a>
                </li><li>
                    <a href="#">Titan</a>
                </li>
            </ul>
            <h2>Moon</h2>
            <p>
                See our planet like you've never seen it before. A perfect relaxing trip away to help regain perspective
                and come back refreshed. While you're there, take in some history by visiting the Luna 2 and Apollo 11
                landing sites.
            </p>
            <span class="hr"></span>
            <ul id="destinationStats">
                <li>
                    <h3>Avg. Distance</h3>
                    <span>384,400 km</span>
                </li>
                <li>
                    <h3>Est. Travel Time</h3>
                    <span>3 days</span>
                </li>
            </ul>
        </article>
    </main>
{% endblock %}