{% extends 'layouts/main.twig' %}
{% set pageId = 'destinationPage' %}

{% block content %}
    <main>
        <h1>
            <span id="destinationIndex">01</span>
            Pick Your Destination
        </h1>

        <div id="planetWrapper">
            <img class="planet" src="/src/assets/destination/image-moon.png" alt="the moon"/>
        </div>

        <article>
            <ul id="chooseDestination">
                <li class="selected">
                    <a href="#">Moon</a>
                </li>
                <li>
                    <a href="#">Mars</a>
                </li>
                <li>
                    <a href="#">Europa</a>
                </li>
                <li>
                    <a href="#">Titan</a>
                </li>
            </ul>

            <h2>Moon</h2>

            <p>
                Discover Earth from an unparalleled vantage point on a rejuvenating lunar retreat. Immerse yourself in
                history by exploring the Luna 2 and Apollo 11 landing sites, ensuring a unique blend of relaxation and
                historical enrichment.
            </p>

            <ul id="destinationStats">
                <li>
                    <h3>Avg. Distance</h3>
                    <span>384,400 km</span>
                </li>
                <li>
                    <h3>Est. Travel Time</h3>
                    <span>3 days</span>
                </li>
            </ul>

        </article>
    </main>
{% endblock %}