{% extends 'layouts/main.twig' %}
{% set pageId='homePage' %}

{% block content %}
    <main>
        <article>
            <h2>
                So, you want to travel to <b>Space</b>
            </h2>

            <p>Prepare to embark on an authentic journey into outer space, as we invite you to immerse yourself
                in an unparalleled cosmic experience. Please, take a moment to recline and anticipate the extraordinary
                adventure that awaits you.</p>
        </article>

        <div id="buttonWrapper">
            <a href="/destination" class="button">Explore</a>
        </div>
    </main>
{% endblock %}