{% extends 'layouts/main.twig' %}
{% set pageId = 'techPage' %}

{% block content %}
    <main>
        <h2 id="pageTitle">
            <strong>03</strong>
            Space Launch 101
        </h2>

        <div id="techImageWrapper">
            <img src="/src/assets/tech/image-launch-vehicle-landscape.jpg" alt="Launch Vehicle"/>
        </div>

        <nav id="techNav">
            <ol>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
            </ol>
        </nav>

        <div>
            <small>The Terminology</small>
            <em>Launch Vehicle</em>
        </div>

        <p>
            A launch vehicle or carrier rocket is a rocket-propelled vehicle used to carry a payload from Earth's
            surface to space, usually to Earth orbit or beyond. Our WEB-X carrier rocket is the most powerful in
            operation. Standing 150 metres tall, it's quite an awe-inspiring sight on the launch pad!
        </p>
    </main>
{% endblock %}