body#destinationPage {
    background-image: url(assets/destination/background-destination-mobile.jpg);
}

#destinationPage h1 {
    color: var(--white);
}

.planet {
    width: 12em;
    height: 12em;
    margin: 1em auto;
}

h1 #destinationCt {
    opacity: 0.25;
    margin-right: 1em;
    font-weight: 700;
}

#destinations {
    display: flex;
    justify-content: space-evenly;
}

h3, #destinations a {
    color: var(--light-blue);
    text-decoration: none;
    text-transform: uppercase;
    font-size: .875rem;
    letter-spacing: 0.14763rem;
    display: block;
    font-weight: 400;
}

#destinations a {
    height: 1.75rem;
    margin-right: -2px; /* small font kerning issue */
}

#destinations .selected {
    border-bottom: 3px solid var(--white);
}

#destinations .selected a {
    color: var(--white);
}

#destinationStats {
    border-top: 1px solid #383B4B;
    padding: 1.5em 0 0;
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
}

#destinationStats li span {
    font-size: 1.75em;
    font-family: Bellefair, serif;
    text-transform: uppercase;
}