nav #icon {
    width: 1.5em;
    height: 1.3125em;
    background-image: url(assets/shared/icon-hamburger.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 99;
    display: block;
    position: absolute;
    top: 2.375em;
    right: 1.5em;
}

nav #hamburgerToggle:checked + #icon {
    background-image: url(assets/shared/icon-close.svg);
}

nav #hamburgerToggle:checked ~ aside {
    right: 0;
}

nav aside {
    position: fixed;
    top: 0;
    right: -15.875em;
    width: 15.875em;
    height: 100%;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    transition: .1s right ease-in-out;
}

nav aside ol {
    margin: 7.375em 2em 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    counter-reset: menuItem;
    list-style: none;
}

nav aside a {
    color: var(--white);
    font-family: Barlow Condensed, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.16875em;
    counter-increment: menuItem;
}

nav aside a::before {
    content: "0" counter(menuItem);
    display: inline-block;
    margin-right: 0.875em;
    font-weight: 700;
}