@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow&display=swap');

:root {
    --dark-blue: hsl(230, 35%, 7%);
    --white: hsl(0, 0%, 100%);
    --light-blue: hsl(231, 77%, 90%);
}

/* start reset */

html, body, div, p, h1, h2, h3, h4, h5, h6,
ul, ol, li, dl, dt, dd, form, fieldset, caption, legend,
table, tr, td, th, address, blockquote, img {
    margin: 0;
    padding: 0;
}

img, fieldset {
    border: none;
}

blockquote, q {
    quotes: none;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

button, label, summary {
    cursor: pointer;
}

body, button, input, table, textarea, select {
    font-size: 1rem;
    line-height: 1.5;
    font-family: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

/* end reset */

html, body {
    height: 100%;
}

body {
    font: 400 1em/1.5 Barlow Condensed, sans-serif;
    background-color: var(--dark-blue);
    color: var(--white);
    background-image: url(assets/home/background-home-mobile.jpg);
    background-size: cover;
    animation-name: zoomAnimation;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding: 0 1.5em;
    background-attachment: fixed;
}

@keyframes zoomAnimation {
    0% {
        background-size: 100% 100%;
    }
    100% {
        background-size: 125% 125%;
    }
}

body#destinationPage {
    background-image: url(assets/destination/background-destination-mobile.jpg);
}

h1 {
    font-size: 1em;
    font-family: Barlow Condensed, sans-serif;
    text-transform: uppercase;
    color: var(--light-blue);
    letter-spacing: 0.16875em;
    font-weight: 400;
}

h1 b {
    margin: 1rem 0 0;
    font-size: 5rem;
    font-family: Bellefair, serif;
    text-transform: uppercase;
    line-height: normal;
    font-weight: 400;
    color: var(--white);
    display: block;
}

h2 {
    font-size: 3.5em;
    font-family: Bellefair, serif;
    text-transform: uppercase;
    font-weight: 400;
    line-height: normal;
}

p {
    font-family: Barlow, sans-serif;
    font-size: 0.9375em;
    line-height: 1.5625rem;
    color: var(--light-blue);
}

#container {
    height: 100%;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 6.5em;
}

header #logo {
    display: block;
    width: 2.5em;
    height: 2.5em;
    background-image: url(assets/shared/logo.svg);
    background-size: cover;
    align-self: center;
}

nav #icon {
    width: 1.5em;
    height: 1.3125em;
    background-image: url(assets/shared/icon-hamburger.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 99;
    display: block;
    position: absolute;
    top: 2.375em;
    right: 1.5em;
}

nav #hamburgerToggle:checked + #icon {
    background-image: url(assets/shared/icon-close.svg);
}

nav #hamburgerToggle:checked ~ #wrapperForMobileSidebar {
    right: 0;
}

nav #wrapperForMobileSidebar {
    position: fixed;
    top: 0;
    right: -15.875em;
    width: 15.875em;
    height: 100%;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    transition: .1s right ease-in-out;
}

nav #wrapperForMobileSidebar ol {
    margin: 7.375em 2em 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    counter-reset: menuItem;
    list-style: none;
}

nav #wrapperForMobileSidebar a {
    color: var(--white);
    font-family: Barlow Condensed, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.16875em;
    counter-increment: menuItem;
}

nav #wrapperForMobileSidebar a::before {
    content: "0" counter(menuItem);
    display: inline-block;
    margin-right: 0.875em;
    font-weight: 700;
}

main {
    height: calc(100% - 8em); /* escape header height on 100% body */
    display: grid;
    text-align: center;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
}

#homePage #buttonWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
}

#homePage .button {
    width: 9.375rem;
    height: 9.375rem;
    background: var(--white);
    border-radius: 50%;
    font-family: Bellefair, serif;
    font-size: 1.25em;
    text-transform: uppercase;
    color: var(--dark-blue);
    transition: box-shadow .2s ease-in-out;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#homePage .button:hover {
    box-shadow: 0 0 0 2.75rem rgba(0, 0, 0, 0.4);
}

#destinationPage h1 {
    color: var(--white);
}

#destinationPage .planet {
    width: 12em;
    height: 12em;
    margin: 1em auto;
}

h1 #destinationIndex {
    opacity: 0.25;
    margin-right: 1em;
    font-weight: 700;
}

#chooseDestination {
    display: flex;
    justify-content: center;
    column-gap: 2.25em;
}

#destinationPage h3,
#destinationPage #chooseDestination a {
    color: var(--light-blue);
    text-decoration: none;
    text-transform: uppercase;
    font-size: .875rem;
    letter-spacing: 0.14763rem;
    display: block;
    font-weight: 400;
}

#chooseDestination a {
    height: 1.75rem;
    margin-right: -2px; /* small font kerning issue */
}

#chooseDestination .selected {
    border-bottom: 3px solid var(--white);
}

#chooseDestination .selected a {
    color: var(--white);
}

#destinationStats {
    border-top: 1px solid #383B4B;
    padding: 1.5em 0 0;
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
}

#destinationStats li span {
    font-size: 1.75em;
    font-family: Bellefair, serif;
    text-transform: uppercase;
}

@media (min-width: 40em) {
    body {
        background-image: url(assets/home/background-home-tablet.jpg);
        padding: 0 2.5em;
    }

    body#destinationPage {
        background-image: url(assets/destination/background-destination-tablet.jpg);
    }

    header #logo {
        width: 3em;
        height: 3em;
    }

    h1 {
        font-size: 1.25em;
    }

    h1 b {
        font-size: 9.375rem;
    }

    p {
        font-size: 1em;
        line-height: 1.75;
    }

    nav {
        margin-right: -2.5em; /* escape body-padding-x */
    }

    nav #icon {
        display: none;
    }

    nav #wrapperForMobileSidebar {
        position: static;
        width: auto;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40px);
        padding: 0 3em;
    }

    nav #wrapperForMobileSidebar ol {
        height: 100%;
        margin: 0;
        flex-direction: row;
        column-gap: 2.5em;
        justify-content: center;
    }

    nav li {
        border-bottom-width: .1875em;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        transition: .7s border-bottom-color ease-in-out;
    }

    nav li.active {
        border-bottom-color: var(--white);
    }

    nav li:hover {
        border-bottom-color: rgba(255, 255, 255, 0.5);
    }

    nav li a {
        display: block;
        height: 100%;
        line-height: 6em;
    }

    nav li a::before {
        display: none;
    }

    main {
        padding: 0 2.375em;
    }

    #homePage article p {
        max-width: 27.75em;
    }

    #homePage #buttonWrapper {
        display: block;
    }

    #homePage #buttonWrapper .button {
        width: 15.125rem;
        height: 15.125rem;
        font-size: 2em;
    }

    #destinationPage #destinationStats {
        width: 100%;
        align-self: center;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #destinationPage main {
        align-items: stretch;
        padding: 2em 0 0;
    }

    #destinationPage .planet {
        width: 19em;
        height: 19em;
    }

    #destinationPage #chooseDestination a {
        font-size: 1rem;
    }

    #destinationPage #chooseDestination h2 {
        font-size: 5em;
    }
}

@media (min-width: 68.75em) {
    body {
        background-image: url(assets/home/background-home-desktop.jpg);
        padding: 2.5em 3.4375em;
    }

    body#destinationPage {
        background-image: url(assets/destination/background-destination-desktop.jpg);
    }

    body, #container {
        overflow: visible;
    }

    header {
        padding: 0;
        column-gap: 4em;
    }

    header::before {
        content: '';
        height: 1px;
        align-self: center;
        background: rgba(255, 255, 255, 0.15);
        order: 1;
        margin-right: -5.875em;
        z-index: 2;
        flex-grow: 4;
    }

    nav {
        margin-right: -3.4375em;
        order: 2;
        flex-basis: 50%;
        flex-grow: 1;
    }

    nav #wrapperForMobileSidebar {
        padding: 0 0 0 1.875em;
    }

    nav li a::before {
        display: inline-block;
    }

    main {
        flex-direction: row;
        max-width: 84em;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2.625em 1fr;
    }

    h1 {
        font-size: 1.75em;
    }

    p {
        font-size: 1.125em;
    }

    #homePage #buttonWrapper {
        margin-top: 6em;
    }

    #homePage #buttonWrapper .button {
        width: 17.125rem;
        height: 17.125rem;
    }

    #destinationPage h2 {
        font-size: 6.25em;
    }

    #destinationPage article {
        grid-column: 2;
        grid-row: 2;
        text-align: left;
        row-gap: 2em;
        min-height: 100%;
        align-items: flex-start;
    }

    #homePage main {
        grid-template-rows: 1fr;
    }

    #homePage article {
        grid-column: 1;
        grid-row: 1;
        justify-self: flex-start;
        text-align: left;
    }

    #homePage #buttonWrapper {
        grid-column: 2;
        grid-row: 1;
        justify-self: center;
    }

    #destinationPage #planetWrapper {
        flex-grow: 1;
        display: flex;
        align-items: center;
        align-self: center;
        grid-column: 1;
        grid-row: 2;
    }

    #destinationPage .planet {
        width: 26em;
        height: 26em;
    }
}

