<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/svg+xml" href="/src/assets/favicon-32x32.png"/>
    <meta name="viewport" content="initial-scale=1.0, viewport-fit=cover"/>
    <title>Space Travel</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="/src/screen.css">
    {% endblock stylesheets %}
</head>
<body id="{{ pageId }}">
<div id="container">
    <header>
        <h1>
            <a href="/index">Atlantis</a>
        </h1>
        <nav id="siteNav">
            <input id="hamburgerToggle" type="checkbox" hidden>
            <label for="hamburgerToggle" id="icon"></label>
            <div id="wrapperForMobileSidebar">
                <ol>
                    <li class="active">
                        <a href="/index">Home</a>
                    </li>
                    <li>
                        <a href="/destination">Destination</a>
                    </li>
                    <li>
                        <a href="/crew">Crew</a>
                    </li>
                    <li>
                        <a href="/tech">Technology</a>
                    </li>
                </ol>
            </div>
        </nav>
    </header>

    {% block content %}{% endblock %}
</div>
</body>